@model CloudDevPoe.Models.userTable
@{
    ViewData["Title"] = "Sign Up";
}
<body style="background-color: white;">
    <h1>Sign Up</h1>
    <form action="SignUp" method="post">
        <p>Please create an account to get full functionality out of our website!</p>
        <input type="text" name="Name" placeholder="Name" required>
        <input type="text" name="Surname" placeholder="Surname" required>
        <input type="text" name="Email" placeholder="example@gmail.com" required>
        <button type="submit" style="margin-left:auto; margin-right: auto;">Create Account</button>
    </form>
</body>