@model CloudDevPoe.Models.userTable
@{
    ViewData["Title"] = "Login Failed";
    var userID = ViewData["userID"];
}
<body style="background-color: white">
    <div>
        <h1>Login details incorrect</h1>
        <a href="https://localhost:7248/Home/Login"><button style="margin-left:auto;margin-right:auto;">Try Again</button></a>
    </div>
    }
</body>
