@model List<CloudDevPoe.Models.OrdersModel>;
@{
    ViewData["Title"] = "Orders";
    var orders = ViewData["orders"] as List<CloudDevPoe.Models.OrdersModel>;
    var userID = ViewData["userID"];
}
<body style="background-color: white">
<h1>Your Order History</h1>
@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                        <td style="border-left: 1px solid #faa878">@order.productID</td>
                    <td>@order.productName</td>
                    <td>R @String.Format("{0:F2}", order.productPrice)</td>
                        <td style="border-right: 1px solid #faa878">@order.productCategory</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}
</body>