
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFBE98;
}

li 
{
    float: left;
}

li a 
{
    font-family:Gadugi;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover 
{
    background-color: #F7DED0;
}

.navbar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}

.pageheader 
{
    margin-top: 65px;
}

h1 {
    text-align: center;
    font-family: Gadugi;
    color: #FFBE98;
}

footer 
{
    position:absolute;
    left: 0;
    bottom: 0;
}