
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFBE98;
}

li 
{
    float: left;
}

li a 
{
    font-family:Gadugi;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover 
{
    background-color: #F7DED0;
}

.navbar input[type=text] 
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}

.pageheader 
{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 45px;
}

h1 
{
    text-align: center;
    font-family: Gadugi;
    color: #faa878;
}
.h1Small {
    text-align: left;
    font-family: Gadugi;
    color: #faa878;
    font-size: 34px;
    margin-left: 100px;
    margin-right: 100px;
    overflow: auto;
}
.divImages
{
    display: flex;
    width:100%;
    flex-wrap: wrap;
}
    div img {
        margin-bottom: 20px;
        height: 500px;
        width: 750px;
        border: 8px solid #FFBE98;
    }

div h1 {
    overflow: auto;
    font-size: 40px;
}

.imagesSmall {

    margin-bottom: 20px;
    height: 400px;
    width: 600px;
    border: 8px solid #FFBE98;
}

p {
    font-family: Gadugi;
    color: #faa878;
    font-size: 28px;
    margin-left: 100px;
    margin-right: 100px;
}

.button {
    display: block;
    height: 40px;
    width: 150px;
    background: #FEECE2;
    padding: 2px;
    text-align: center;
    border: 1px solid #faa878;
    color: #faa878;
    font-weight: bold;
    margin-top: 10px;
}

table, th, td {
    text-align: left;
    border: 2px solid #faa878;
    border-collapse: collapse;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 100px;
}

th {
    font-size: 34px;
    color: #faa878;
    font-weight: bold;
    height: 75px;
    text-align:center;
}

td {
    font-size: 30px;
    color: #faa878;
    height: 75px;
    padding-left: 5px;
}

table{
    width: 75%;
}
