
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFBE98;
}

li 
{
    float: left;
}

li a 
{
    font-family:Gadugi;
    font-size: 20px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover 
{
    background-color: #F7DED0;
}

.navbar input[type=text] 
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 20px;
}

.pageheader 
{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 45px;
}

h1 
{
    text-align: center;
    font-family: Gadugi;
    color: #faa878;
}
.h1Small {
    text-align: left;
    font-family: Gadugi;
    color: #faa878;
    font-size: 34px;
    margin-left: 100px;
    margin-right: 100px;
    overflow: auto;
}
.divImages
{
    display: flex;
    width:100%;
    flex-wrap: wrap;
}
    div img {
        margin-bottom: 20px;
        height: 500px;
        width: 750px;
        border: 8px solid #FFBE98;
    }

div h1 {
    overflow: auto;
    font-size: 40px;
}

.imagesSmall {

    margin-bottom: 20px;
    height: 400px;
    width: 600px;
    border: 8px solid #FFBE98;
}


