@{
    ViewData["Title"] = "About Us";
}

<body style="background-color: white">
    <h1 style="text-align:center;" class="pageheader">Our Vision</h1>
    <div>
        <h1 style="padding-top: 30px" class="h1Small">KhumaloCraft Emporium was created with one goal in mind.<br />
            To globally showcase the incredibly skilled artisans within the trade of handcrafted goods.<br />
            Our website serves as a global marketplace and allows buyers and artisans to buy and sell their products.
            </h1>

    </div>
    <div class="divImages">
        <img style="position:absolute; left: 150px" src="/images/artisan2.webp" />
        <img style="position:absolute; right: 150px" src="/images/artisans-d-angkor.jpg" />
    </div>

</body>