@{
    ViewData["Title"] = "Contact Us";
}

<body style="background-color: #FEECE2">
    <h1 style="text-align:center;" class="pageheader">Contact Us</h1>
    <div style="float: left; margin-left: 150px;">
        <h1 style="text-align: left; color: darkorange;">Contact Number:<br />0637727099</h1>
        <h1 style="text-align: left; color: darkorange;">Email Address:<br />JamesKhumalo@gmail.com</h1>
        <h1 style="text-align: left; color: darkorange;">Address:<br />21 Dreyer street,Claremont,Cape Town</h1>
    </div>
    <div class="divImages">
        <img style="margin-left: 500px" src="/images/map.webp" />
    </div>




</body>