
@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color: #FEECE2;">
    <h1 style="text-align:center;" class="pageheader">Welcome to KhumaloCraft Emporium</h1>
    <div  class="divImages">
        <img style="margin-right: 50px" src="/images/baskets.jpg" />
        <h1 style="padding-top: 200px">Shop our selection of unique handcrafted products</h1>
    </div>
    <div class="divImages">
        <h1 style="padding-top: 200px; margin-left: 40px">We aim to connect you with local and global artisans <br /> alike and support their trade of handcrafted products</h1>
        <img style="position:absolute; float: right; right: 10px" src="/images/artisan1.jpg" />
    </div>

</body>