@model CloudDevPoe.Models.userTable
@{
    ViewData["Title"] = "Login";
    var userID = ViewData["userID"];
}
<body style="background-color: white">
@if (userID != null)
{
    ViewData["Title"] = "Account";
    <div>
        <h1>Welcome to your account</h1>
        <form asp-controller="Login" asp-action="Logout" method="post">
                <button style="margin-left:auto;margin-right:auto;" type="submit">Sign Out</button>
        </form>
    </div>
}
else
{
    <div>
        <h1>Login</h1>
        <form asp-controller="Login" asp-action="Login" method="post">
            <p>Please enter your first name and email:</p>
            <input type="text" name="name" placeholder="Name" required>
            <input type="text" name="email" placeholder="example@gmail.com" required>
            <button style="margin-left: auto; margin-right: auto" type="submit">Login</button>
        </form>
        <p style="text-align:center">If you don't have an account please sign up below</p>
            <a href="https://localhost:7248/User/SignUp"><button style="margin-left:auto;margin-right:auto;">Sign Up</button></a>
    </div>
}
</body>