@model CloudDevPoe.Models.productTable
@{
    ViewData["Title"] = "MyWork";
}

<h1>MyWork</h1>

<body>
    <form asp-controller="Product"-action="MyWork" method="post">
        <p>Insert new products</p>
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="price" placeholder="Price" required>
        <input type="text" name="category" placeholder="Category" required>
        <input type="text" name="availability" placeholder="Availability" required>
        <button type="submit">Submit</button>
    </form>
</body>
