@{
    ViewData["Title"] = "My Work";
}

<body style="background-color: #FEECE2">
    
    <h1 style="text-align:center;" class="pageheader">Our product selection</h1>

    <div class="divImages">
        <img class="imagesSmall" src="/images/cuttingboard.webp" />
        <div>
            <h1 style="margin-left: 50px; color: darkorange; text-align: left;">Wooden cutting board</h1><br />
            <h1 class="h1Small" style="margin-left: 50px">
            Price: R300 - R800<br/>
            Artisan: Bob Smith<br/>
            Country: Canada</h1>
        </div>
    </div>

    <div class="divImages">
        <img class="imagesSmall" src="/images/baskets.jpg" />
        <div>
            <h1 style="margin-left: 50px; color: darkorange; text-align: left;">Hand Woven Baskets</h1><br />
            <h1 class="h1Small" style="margin-left: 50px">
                Price: R200 - R750<br />
                Artisan: Ben Jeffereson<br />
                Country: India
            </h1>
        </div>
    </div>

    <div class="divImages">
        <img class="imagesSmall" src="/images/ceramic pottery.jpg" />
        <div>
            <h1 style="margin-left: 50px; color: darkorange; text-align: left;">Engraved cermaic pottery</h1><br />
            <h1 class="h1Small" style="margin-left: 50px">
                Price: R400 - R1500<br />
                Artisan: John Doe<br />
                Country: Botswana
            </h1>
        </div>
    </div>

    <div class="divImages">
        <img class="imagesSmall" src="/images/espresso-cups-635x394.jpeg" />
        <div>
            <h1 style="margin-left: 50px; color: darkorange; text-align: left;">Ceramic coffee cups</h1><br />
            <h1 class="h1Small" style="margin-left: 50px">
                Price: R100 - R250<br />
                Artisan: Jane Doe<br />
                Country: Phillipines
            </h1>
        </div>
</body>
